@font-face {
  font-family: 'WorkSans-Thin';
  font-style: normal;
  font-weight: 500;
  src: local('WorkSans-Thin'), url(../fonts/WorkSans-Thin.woff2) format('woff2'),
    url(../fonts/WorkSans-Thin.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans-Light';
  font-style: normal;
  font-weight: 400;

  src: local('WorkSans-Light'), url(../fonts/WorkSans-Light.woff2) format('woff2'),
    url(../fonts/WorkSans-Light.woff) format('woff');


  font-display: swap;
}

@font-face {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;

  src: local('WorkSans-Medium'), url(../fonts/WorkSans-Medium.woff2) format('woff2'),
    url(../fonts/WorkSans-Medium.woff) format('woff');


  font-display: swap;
}

@font-face {
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Bold'), url(../fonts/WorkSans-Regular.woff2) format('woff2'),
    url(../fonts/WorkSans-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'), url(../fonts/WorkSans-SemiBold.woff2) format('woff2'),
    url(../fonts/WorkSans-SemiBold.woff2) format('woff');
  font-display: swap;
}