$accent: #A53DFF;
$default: #697484;
$title: #F0F1F3;
$bg: #2B384C;
%wsthin-500 {
  font-family: 'WorkSans-Thin', sans-serif;
  font-weight: 500;
}

%wslight-400 {
  font-family: 'WorkSans-Light', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

%wsmedium-500 {
  font-family: 'WorkSans-Medium', sans-serif;
  font-weight: 500;
}

%wssemi-700 {
  font-family: 'WorkSans-SemiBold', sans-serif;
  font-weight: 700;
}

%wsregular-500 {
  font-family: 'WorkSans-Regular', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}